{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h2>Add Project</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.github.label }}
            {{ form.github(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.demo.label }}
            {{ form.demo(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.technologies.label }}
            {{ form.technologies(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}

    </form>

</div>

{% endblock %}