<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <script>
        (function () {
            var theme = localStorage.getItem('theme') || 'dark';
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>

    <meta name="description"
          content="{{ settings.meta_description }}">

    <meta name="keywords"
          content="{{ settings.meta_keywords }}">

    <title>
        {% block title %}{% endblock %}
        {% if self.title() %}
        | 
        {% endif %}
        {{ settings.meta_title or settings.site_name }}
    </title>

    <!-- favicon  -->

    {% if settings and settings.favicon %}
        <link rel="icon"
            href="{{ upload_url(settings.favicon) }}">
    {% endif %}



    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">


    <!-- GLightbox -->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

    <!-- Quill -->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css">

    <!-- Google Font -->

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- Custom CSS -->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

{% include "components/navbar.html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">

                    {{ message }}

                    <button
                        class="btn-close"
                        data-bs-dismiss="alert">
                    </button>

                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

{% include "components/footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

<script>
    const lightbox = GLightbox({
        selector: '.project-gallery',
        touchNavigation: true,
        loop: true,
        zoomable: true,
        draggable: true
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>